body {
    margin: 0;
    padding: 0;
}

.container {
    background-color: #ddd;
}

.top {
    background: -moz-linear-gradient(top,  rgba(0,0,0,0) 0%, rgba(0,0,0,0.65) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,0)), color-stop(100%,rgba(0,0,0,0.65))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* IE10+ */
    background: linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.65) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
    height: 36px;
}

.top .header {
    margin-left: 10px;
}
.top .header h1 {
    margin: 3px 0 3px 0;
    padding:  0;
    font-size: 24px;
}
.top .quick-menu {
    margin: 9px 9px 0 0;
}
.top .quick-menu li {
    height: 18px;
}

.middle {
    margin: 0 10px;
}

.middle .menu {
    width: 200px;
}

.middle .content {
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    border: solid 2px #000;
    background-color: #fff;
    padding: 10px;
    margin: 10px;

    overflow:hidden;
    float:none;;
}

.footer {
    height: 36px;
    background-color: #555;
}

.footer h3 {
    color: #fff;
    text-align: center;
    font-style: italic;
    font-size: 12px;
    font-weight: normal;
    margin: 12px 0 12px 0;
    padding: 0;
}