.nb_extended_array_builder .data {
    display: none;
}

.nb_extended_array_builder select {
    width: 150px;
}

.array_builder_form input {
    float: left;
}

.array_builder_form a {
    overflow:hidden;
    margin: 0 3px;
}
